################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/i18next-net/i18next-net/obj/Debug
/.vs
/src/i18next-net/.vs/i18next-net/v15
